flask
asgiref
python-dotenv
crewai
crewai-tools
txtai
pydantic
numpy
overrides
tenacity
chromadb
onnxruntime
google-api-core
googleapis-common-protos
proto-plus
google-auth
smolagents
langchain-google-genai