/* Файл исправлен css_fixer.py - устранены дублирующиеся селекторы */

/* Шрифты для GopiAI */

/*
 * Шрифт Inter используется как основной шрифт интерфейса
 * Импортируем из Google Fonts как резервный вариант,
 * но предпочтительно используем локальные шрифты
 */

/* Сначала определяем локальные шрифты */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Inter/Inter-Black.ttf') format('truetype');
}
